<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nawigacja</title>
    <style>
        nav {
            background-color: #333;
            padding: 10px;
        }
        nav a {
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            text-align: center;
        }
        nav a:hover {
            background-color: #575757;
        }
    </style>
</head>
<body>

<nav>
    <a href="/">Strona Główna</a>
    <a href="/los">Losowanie</a>
    <a href="/channel">Statystyki Kanału</a>
    <a href="/clips">Wyszukiwanie Klipów</a>
</nav>

</body>
</html>